* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 13px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: $main-color;
}

img {
  max-width: 100%;
}

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }

  .bg-#{$color} {
    background-color: $val;
  }
}
